body {
    background: url("cork-board.png");
}

#border {
    border-bottom: 2px solid #cccccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

img#profolio {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.img-thumbnail:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1.2), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

h5 {
    position: relative;
    bottom: 35px;
    left: 10px;
    color: white;
}